
[data-theme='frost'] {
	--text-scaling: 1.0;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: "Figtree", sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.5rem;
	--radius-container: 0.5rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(97.39% 0.04 196.5deg);
	--color-primary-100: oklch(91.84% 0.05 222.73deg);
	--color-primary-200: oklch(86.31% 0.08 235.23deg);
	--color-primary-300: oklch(81.15% 0.1 241.58deg);
	--color-primary-400: oklch(75.9% 0.13 246.18deg);
	--color-primary-500: oklch(70.93% 0.16 249.84deg);
	--color-primary-600: oklch(64.25% 0.15 251.3deg);
	--color-primary-700: oklch(57.42% 0.15 252.91deg);
	--color-primary-800: oklch(50.64% 0.14 254.09deg);
	--color-primary-900: oklch(43.5% 0.14 256.16deg);
	--color-primary-950: oklch(36.15% 0.13 258.1deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-dark);
	--color-primary-contrast-600: var(--color-primary-contrast-dark);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(99.18% 0.01 196.81deg);
	--color-secondary-100: oklch(94.48% 0.03 233.26deg);
	--color-secondary-200: oklch(89.84% 0.05 240.88deg);
	--color-secondary-300: oklch(85% 0.08 244.88deg);
	--color-secondary-400: oklch(80.55% 0.1 246.77deg);
	--color-secondary-500: oklch(76.24% 0.13 248.3deg);
	--color-secondary-600: oklch(69.04% 0.13 248.34deg);
	--color-secondary-700: oklch(61.98% 0.12 248.17deg);
	--color-secondary-800: oklch(54.58% 0.12 249.09deg);
	--color-secondary-900: oklch(47.27% 0.12 249.83deg);
	--color-secondary-950: oklch(39.56% 0.12 251.87deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-500: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-600: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(100% 0 none);
	--color-tertiary-100: oklch(97.93% 0.01 247.91deg);
	--color-tertiary-200: oklch(95.87% 0.02 248.03deg);
	--color-tertiary-300: oklch(94.02% 0.03 245.1deg);
	--color-tertiary-400: oklch(91.98% 0.04 246.01deg);
	--color-tertiary-500: oklch(89.96% 0.05 246.61deg);
	--color-tertiary-600: oklch(82.55% 0.05 245.73deg);
	--color-tertiary-700: oklch(74.97% 0.05 244.84deg);
	--color-tertiary-800: oklch(67.31% 0.05 245.84deg);
	--color-tertiary-900: oklch(59.34% 0.05 245deg);
	--color-tertiary-950: oklch(51.1% 0.05 244.23deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(99.33% 0.01 196.81deg);
	--color-success-100: oklch(96.83% 0.05 161.78deg);
	--color-success-200: oklch(94.67% 0.08 157.61deg);
	--color-success-300: oklch(92.68% 0.12 155.16deg);
	--color-success-400: oklch(91.04% 0.15 153.44deg);
	--color-success-500: oklch(89.64% 0.19 151.72deg);
	--color-success-600: oklch(82.46% 0.18 151.14deg);
	--color-success-700: oklch(74.95% 0.18 150.41deg);
	--color-success-800: oklch(67.58% 0.17 149.68deg);
	--color-success-900: oklch(59.84% 0.16 148.42deg);
	--color-success-950: oklch(52.24% 0.16 146.78deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-dark);
	--color-success-contrast-700: var(--color-success-contrast-dark);
	--color-success-contrast-800: var(--color-success-contrast-dark);
	--color-success-contrast-900: var(--color-success-contrast-dark);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(99.4% 0.03 106.89deg);
	--color-warning-100: oklch(96.64% 0.05 93.37deg);
	--color-warning-200: oklch(93.96% 0.07 87.39deg);
	--color-warning-300: oklch(91.16% 0.09 82.5deg);
	--color-warning-400: oklch(88.63% 0.11 80.1deg);
	--color-warning-500: oklch(86.19% 0.13 77.93deg);
	--color-warning-600: oklch(78.87% 0.12 78.52deg);
	--color-warning-700: oklch(71.3% 0.12 79.25deg);
	--color-warning-800: oklch(63.45% 0.12 78.53deg);
	--color-warning-900: oklch(55.49% 0.11 78.37deg);
	--color-warning-950: oklch(47.41% 0.1 76.63deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-dark);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(95.61% 0.02 44.38deg);
	--color-error-100: oklch(90.07% 0.05 27.03deg);
	--color-error-200: oklch(84.93% 0.08 23.56deg);
	--color-error-300: oklch(79.9% 0.12 21.9deg);
	--color-error-400: oklch(75.42% 0.15 22.17deg);
	--color-error-500: oklch(71.31% 0.18 22.78deg);
	--color-error-600: oklch(63.98% 0.18 23.1deg);
	--color-error-700: oklch(56.88% 0.17 23.62deg);
	--color-error-800: oklch(49.47% 0.17 24.56deg);
	--color-error-900: oklch(42.46% 0.16 25.94deg);
	--color-error-950: oklch(35.36% 0.14 27.71deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(91.46% 0.03 265.34deg);
	--color-surface-100: oklch(84.06% 0.03 264.41deg);
	--color-surface-200: oklch(76.53% 0.03 264.38deg);
	--color-surface-300: oklch(68.85% 0.03 265.37deg);
	--color-surface-400: oklch(60.91% 0.03 265.32deg);
	--color-surface-500: oklch(52.67% 0.03 264.27deg);
	--color-surface-600: oklch(45.35% 0.03 267.15deg);
	--color-surface-700: oklch(37.77% 0.03 271.08deg);
	--color-surface-800: oklch(29.51% 0.04 275.49deg);
	--color-surface-900: oklch(21.01% 0.04 278.07deg);
	--color-surface-950: oklch(9.96% 0.06 264.09deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-dark);
	--color-surface-contrast-400: var(--color-surface-contrast-dark);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}